# Environnement virtuel
venv/
.env

# Python
__pycache__/
*.py[cod]

# Données
data/*.duckdb
data/*.csv
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.db
*.duckdb

# dbt
dbt_project/dbt_packages/
dbt_project/target/

# OS
.DS_Store

# Fichiers internes de Dagster
.telemetry/
.nux/
.logs_queue/
history/
logs/


data/dagster_home/storage/*
